* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: Open Sans, sans-serif;
	width: 100%;
	height: 100%;
}

.prompt-box {
	position: absolute;
	height: 100px;
	width: 100%;
	top: 50%;
	margin-top: -50px;
	text-align: center;
	font-size: 2em;
}

.prompt-box-hidden {
	display: none;
}

.on-disk {
	color: #333;
	line-height: 100px;
	cursor: pointer;
}

.on-disk:hover {
	color: #3383B8;
}

.file-box {
	display: none;
	position: relative;
	top: 50%;
	width: 100%;
	height: 100px;
	margin-top: -50px;
	padding: 0 5%;
}

.file-box-visible {
	display: block;
}

.file-to-transfer {
	height: 100px;
	width: 100%;
	padding: 0.5em 1em;
	text-align: center;
}

.file-name {
	color: #E20000;
}

.file-size {
	color: #1A680B;
}

.file-url {
	color: #1576F1;
	font-size: 1.7em;
	line-height: 2.2em;
}

.upload-progress-wrapper {
	position: absolute;
	bottom: 5%;
	height: 10px;
	width: 100%;
	padding: 0 10%;
}

.upload-progress {
	position: relative;
	background-color: #333;
	width: 0;
	height: 100%;
}

.upload-progress-desc {
	position: absolute;
	width: 80px;
	height: 80px;
	top: -80px;
	left: 50%;
	margin-left: -40px;
	font-size: 2em;
	color: #555;
	text-align: center;
	line-height: 80px;
}
